body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

main {
    background-color: #fff;
    flex-grow: 1;
    min-height: calc(100vh - 113px);
}

section {
    padding: 1rem 1.5rem;
}

footer {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
}

h1.title-icon {
    background: url('./../assets/img/anemometer.png') no-repeat left center;
    background-size: 40px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e84393;
}

ul.data {
    display: inline-grid;
    list-style-type: square;
    margin: 0;
    padding: 10px;
}

ul.data li {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    /* background-color: yellow; */
    flex: 1 1 50%;
}

ul.data li * {
    padding: 4px 0;
}

ul.data li label {
    display: flex;
    flex-grow: 1;
}

span.relief {
    text-align: right;
}

.relief {
    color: #0984e3;
    font-weight: 600;
}

h3 svg.MuiSvgIcon-root {
    vertical-align: bottom;
}

.container-info {
    padding: 7px;
}

.container-data {
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-data .data {
    text-align: center;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.container-data h4 {
    font-weight: 500;
    margin: 10px 0;
}

.container-data .value {
    color: #e84393;
    font-weight: 700;
    font-size: 1.7rem;
}
