.custom-tooltip {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #000;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.custom-tooltip h4 {
    /* padding: 0; */
    margin: 0;
    color: #e84393;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.custom-tooltip ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.custom-tooltip label {
    margin-right: 8px;
}

.custom-tooltip .picture {
    /* background-color: aqua; */
    text-align: center;
}
