.map-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 113px);
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* .maplibregl-control-container {
    display: none;
} */

.marker.anenometer {
    position: relative;
    --marker-size: 2.25rem;
    width: var(--marker-size);
    height: var(--marker-size);
    background: url("/src/assets/img/anemometer.png") no-repeat;
    background-size: cover;
}
.marker-label {
    position: absolute;
    bottom: -20px;
    width: 250px;
    left: -100px;
    text-align: center;
    font-style: italic;
}
