header {
    padding: 0rem 2rem;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: #74b9ff;
    justify-content: space-between;
}

.logo-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 1px #ccc, 0 0 0.3em #ddd, 0 0 0.1em #000;
}

.dark-mode header,
.dark-mode footer {
    background-color: #2d3436;
    color: #fff;
}
